'exception-reporting':
  'userId': '372bd8d8-d27b-3c8f-ede3-453683598a1d'
'release-notes':
  'viewedVersion': '0.67.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8ac7f967de05fc4cc943103e1b2dd15f6c891481'
'editor':
  'fontSize': 14
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'metrics'
  ]
